### Libraries

In [5]:
from sqlalchemy import create_engine
from getpass import getpass
from pandas.io.json import json_normalize

### GETTING TABLES

In [151]:
# Populating this dict with the schools required 

schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035,
'practicum-coding-bootcamps' : 11225    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [152]:
# Comments table

# comments = [get_comments_school(school) for school in schools.keys()]

comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)
comments

ironhack
app-academy
springboard
practicum-coding-bootcamps

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,293764,Ana Valeria Khatchikian,False,None,2022.0,False,Journalist,Great,"<span class=""truncatable""><p></p><p>I really e...","<p>I really enjoyed the boot camp, it was very...",...,2022-10-07,UX/UI Design Bootcamp,{'image': None},3.3,[],4.0,3.0,3.0,"I really enjoyed the boot camp, it was very in...",ironhack
1,293752,Anonymous,True,None,2022.0,True,Ux designer,Ux designer,"<span class=""truncatable""><p></p><p>Its a grea...",<p>Its a great program for those who wish chan...,...,2022-10-07,UX/UI Design Bootcamp,{'image': None},3.7,[],3.0,4.0,4.0,Its a great program for those who wish change ...,ironhack
2,293725,Anonymous,True,None,2022.0,True,Data analyst,Very good,"<span class=""truncatable""><p></p><p>When i sta...",<p>When i started my journey i was a bit nervo...,...,2022-10-06,Data Analytics Part-Time,{'image': None},3.3,[],3.0,4.0,3.0,When i started my journey i was a bit nervous ...,ironhack
3,293664,Nikos,False,None,2022.0,False,,High recommended Data analytics Bootcamp (Iro...,"<span class=""truncatable""><p></p><p>I am very ...",<p>I am very happy and pleased for joining and...,...,2022-10-04,,{'image': None},5.0,[],5.0,5.0,5.0,I am very happy and pleased for joining and fi...,ironhack
4,293621,Lluis,False,None,2022.0,False,,Fascinating and Underwhelming,"<span class=""truncatable""><p></p><p>Pros: Good...","<p>Pros: Good environment, good facilitators t...",...,2022-10-04,Cybersecurity Part-Time,{'image': None},3.3,[],3.0,3.0,4.0,"Pros: Good environment, good facilitators that...",ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,259961,Anna Kastner,False,None,2019.0,False,None,"Guys, I enjoyed the course a lot and I recomme...","<span class=""truncatable""><p>I took the data a...",I took the data analysis course and I enjoyed ...,...,2019-12-17,Data Analyst,{'image': None},4.3,[],5.0,4.0,4.0,I took the data analysis course and I enjoyed ...,practicum-coding-bootcamps
130,259918,Tim Eberhart,False,Software Engineering,2019.0,True,None,Amazing course,"<span class=""truncatable""><p>It’s a an amazing...","It’s a an amazing course, especially for begin...",...,2019-12-16,,{'image': None},5.0,[],5.0,5.0,5.0,"It’s a an amazing course, especially for begin...",practicum-coding-bootcamps
131,259773,Tammy L. Walters,False,Software Engineering,2019.0,False,None,It's so much more than just courses! It's a fr...,"<span class=""truncatable""><p>This platform is ...",This platform is so much more than what it mig...,...,2019-12-12,,{'image': None},4.3,[],5.0,5.0,3.0,This platform is so much more than what it mig...,practicum-coding-bootcamps
132,259645,Kathy R. Kelly,False,Software Engineering,2019.0,False,None,Excellent,"<span class=""truncatable""><p>Excellent, very e...","Excellent, very engaging mentors. The quality ...",...,2019-12-10,,{'image': None},4.7,[],5.0,4.0,5.0,"Excellent, very engaging mentors. The quality ...",practicum-coding-bootcamps
133,259559,Liam Murrey,False,None,2019.0,False,None,"fantastic resource, great experience","<span class=""truncatable""><p>I got a new job n...","I got a new job not so long ago, but they neve...",...,2019-12-06,Data Analyst,{'image': None},4.7,[],5.0,4.0,5.0,"I got a new job not so long ago, but they neve...",practicum-coding-bootcamps

In [153]:
def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

C:\Users\inesa\AppData\Local\Temp\ipykernel_9984\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

app-academy

C:\Users\inesa\AppData\Local\Temp\ipykernel_9984\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

springboard

C:\Users\inesa\AppData\Local\Temp\ipykernel_9984\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

practicum-coding-bootcamps

C:\Users\inesa\AppData\Local\Temp\ipykernel_9984\1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [154]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                        school  school_id
 0  practicum-coding-bootcamps      11225  ]

In [155]:
locations = pd.concat(locations_list)

In [156]:
courses = pd.concat(courses_list)
courses.head(10)

                                       courses       school  school_id
0                      Cyber Security Bootcamp     ironhack      10828
1                      Cybersecurity Part-Time     ironhack      10828
2                      Data Analytics Bootcamp     ironhack      10828
3                     Data Analytics Part-Time     ironhack      10828
4                        UX/UI Design Bootcamp     ironhack      10828
5                       UX/UI Design Part-Time     ironhack      10828
6                     Web Development Bootcamp     ironhack      10828
7                    Web Development Part-Time     ironhack      10828
0  16-Week Campus Software Engineering Program  app-academy      10525
1                                Bootcamp Prep  app-academy      10525

In [157]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [158]:
# Missing data cleaning 
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,practicum.yandex.com/?utm_source=referral&utm_...,"<span class=""truncatable""><p>Practicum Bootcam...",https://d92mrp7hetgfk.cloudfront.net/images/si...,practicum-coding-bootcamps,11225

## Data Cleaning

In [159]:
# 1) Create tables with the information we need for the new DB ironhackda

schools = schools[["school_id", "school"]]
courses = courses[["courses", "school_id"]]

comments = comments[["id", "school", "program","hostProgramName", "graduatingYear", "isAlumni", "jobTitle",
"tagline", "review_body", "anonymous", "overallScore",
"overall", "curriculum", "jobSupport", "createdAt"]]

In [118]:
courses[courses["school_id"] == 11225]

             courses  school_id
0       Data Analyst      11225
1     Data Scientist      11225
2  Software Engineer      11225

In [160]:
# 2) Changing columns names
# 2.1) name of the columns:

print(schools.columns)
print(courses.columns)
print(comments.columns)

Index(['school_id', 'school'], dtype='object')
Index(['courses', 'school_id'], dtype='object')
Index(['id', 'school', 'program', 'hostProgramName', 'graduatingYear',
       'isAlumni', 'jobTitle', 'tagline', 'review_body', 'anonymous',
       'overallScore', 'overall', 'curriculum', 'jobSupport', 'createdAt'],
      dtype='object')

In [161]:
# 2.2) Changing the names

schools.columns = ["id", "name"]
courses.columns = ["name","school_id"]
comments.columns = ["id", "school", "program", "host_program_name","graduating_year", "is_alumni", "job_title", 
"tag_line","comment", "anonymous", "overall_score", 
"overall", "curriculum", "job_support", "created_at"]

In [165]:
# 3) Cleanning the data that we have

# 3.0) Peek at the actual data

comments.head(3)

,id,school,program,host_program_name,graduating_year,is_alumni,job_title,tag_line,comment,anonymous,overall_score,overall,curriculum,job_support,created_at,school_id
0,293764,ironhack,UX/UI Design Bootcamp,None,2022.0,False,Journalist,Great,"I really enjoyed the boot camp, it was very in...",False,3.3,4.0,3.0,3.0,10/7/2022,10828
1,293752,ironhack,UX/UI Design Bootcamp,None,2022.0,True,Ux designer,Ux designer,Its a great program for those who wish change ...,True,3.7,3.0,4.0,4.0,10/7/2022,10828
2,293725,ironhack,Data Analytics Part-Time,None,2022.0,True,Data analyst,Very good,When i started my journey i was a bit nervous ...,True,3.3,3.0,4.0,3.0,10/6/2022,10828

In [166]:
comments.tail(3)

,id,school,program,host_program_name,graduating_year,is_alumni,job_title,tag_line,comment,anonymous,overall_score,overall,curriculum,job_support,created_at,school_id
131,259773,practicum-coding-bootcamps,,Software Engineering,2019.0,False,None,It's so much more than just courses! It's a fr...,This platform is so much more than what it mig...,False,4.3,5.0,5.0,3.0,12/12/2019,11225
132,259645,practicum-coding-bootcamps,,Software Engineering,2019.0,False,None,Excellent,"Excellent, very engaging mentors. The quality ...",False,4.7,5.0,4.0,5.0,12/10/2019,11225
133,259559,practicum-coding-bootcamps,Data Analyst,None,2019.0,False,None,"fantastic resource, great experience","I got a new job not so long ago, but they neve...",False,4.7,5.0,4.0,5.0,12/6/2019,11225

In [170]:
# 3.1) Locate null information

null_col_series = comments.isnull().sum()
print(null_col_series)
len(comments)

id                      0
school                  0
program               234
host_program_name    1934
graduating_year         4
is_alumni               0
job_title            1454
tag_line                1
comment                 0
anonymous               0
overall_score           8
overall                10
curriculum             47
job_support           290
created_at              0
school_id               0
dtype: int64

3817

In [173]:
null_val_com = null_col_series[null_col_series > 0]
null_val_com

program               234
host_program_name    1934
graduating_year         4
job_title            1454
tag_line                1
overall_score           8
overall                10
curriculum             47
job_support           290
dtype: int64

In [175]:
list_nul_val_com = list(null_val_com.index)
list_nul_val_com

['program',
 'host_program_name',
 'graduating_year',
 'job_title',
 'tag_line',
 'overall_score',
 'overall',
 'curriculum',
 'job_support']

In [201]:
#Filling missing srt data with "not availabe" 

comments[["program","host_program_name","job_title","tag_line"]] = comments[["program","host_program_name","job_title","tag_line"]].fillna("not available")
comments

C:\Users\inesa\AppData\Local\Temp\ipykernel_9984\1465369071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comments[["program","host_program_name","job_title","tag_line"]] = comments[["program","host_program_name","job_title","tag_line"]].fillna("not available")

,id,school,program,host_program_name,graduating_year,is_alumni,job_title,tag_line,comment,anonymous,overall_score,overall,curriculum,job_support,created_at,school_id
0,293764,ironhack,UX/UI Design Bootcamp,not available,2022.0,False,Journalist,Great,"I really enjoyed the boot camp, it was very in...",False,3.3,4.0,3.0,3.0,10/7/2022,10828
1,293752,ironhack,UX/UI Design Bootcamp,not available,2022.0,True,Ux designer,Ux designer,Its a great program for those who wish change ...,True,3.7,3.0,4.0,4.0,10/7/2022,10828
2,293725,ironhack,Data Analytics Part-Time,not available,2022.0,True,Data analyst,Very good,When i started my journey i was a bit nervous ...,True,3.3,3.0,4.0,3.0,10/6/2022,10828
3,293664,ironhack,,not available,2022.0,False,,High recommended Data analytics Bootcamp (Iro...,I am very happy and pleased for joining and fi...,False,5.0,5.0,5.0,5.0,10/4/2022,10828
4,293621,ironhack,Cybersecurity Part-Time,not available,2022.0,False,,Fascinating and Underwhelming,"Pros: Good environment, good facilitators that...",False,3.3,3.0,3.0,4.0,10/4/2022,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,259961,practicum-coding-bootcamps,Data Analyst,not available,2019.0,False,not available,"Guys, I enjoyed the course a lot and I recomme...",I took the data analysis course and I enjoyed ...,False,4.3,5.0,4.0,4.0,12/17/2019,11225
130,259918,practicum-coding-bootcamps,,Software Engineering,2019.0,True,not available,Amazing course,"It’s a an amazing course, especially for begin...",False,5.0,5.0,5.0,5.0,12/16/2019,11225
131,259773,practicum-coding-bootcamps,,Software Engineering,2019.0,False,not available,It's so much more than just courses! It's a fr...,This platform is so much more than what it mig...,False,4.3,5.0,5.0,3.0,12/12/2019,11225
132,259645,practicum-coding-bootcamps,,Software Engineering,2019.0,False,not available,Excellent,"Excellent, very engaging mentors. The quality ...",False,4.7,5.0,4.0,5.0,12/10/2019,11225
133,259559,practicum-coding-bootcamps,Data Analyst,not available,2019.0,False,not available,"fantastic resource, great experience","I got a new job not so long ago, but they neve...",False,4.7,5.0,4.0,5.0,12/6/2019,11225

In [162]:
# 4) giving id column for those tables that do not have id

courses["id"]=[i for i in range(0, len(courses.index))]
courses

                                                 name  school_id  id
0                             Cyber Security Bootcamp      10828   0
1                             Cybersecurity Part-Time      10828   1
2                             Data Analytics Bootcamp      10828   2
3                            Data Analytics Part-Time      10828   3
4                               UX/UI Design Bootcamp      10828   4
5                              UX/UI Design Part-Time      10828   5
6                            Web Development Bootcamp      10828   6
7                           Web Development Part-Time      10828   7
0         16-Week Campus Software Engineering Program      10525   8
1                                       Bootcamp Prep      10525   9
2   24-Week Online Full-Time Software Engineering ...      10525  10
3       52-Week Online Part-Time Software Engineering      10525  11
4                                    App Academy Open      10525  12
0                         Cyber Security Career Track      11035  13
1                         Data Analytics Career Track      11035  14
2                           Data Science Career Track      11035  15
3                      Data Science Career Track Prep      11035  16
4          Digital Marketing Professional Certificate      11035  17
5                      Introduction to Data Analytics      11035  18
6                              Introduction to Design      11035  19
7     Social Media Marketing Professional Certificate      11035  20
8                   Software Engineering Career Track      11035  21
9       Software Engineering Career Track Prep Course      11035  22
10                            Tech Sales Career Track      11035  23
11                          UI/UX Design Career Track      11035  24
12                                    UX Career Track      11035  25
0                                        Data Analyst      11225  26
1                                      Data Scientist      11225  27
2                                   Software Engineer      11225  28

In [163]:
# 5) insert school_id in comments table

def add_schoolid(data):
    if data['school'] == 'ironhack':
        return 10828
    elif data['school'] == 'app-academy':
        return 10525
    elif data['school'] == 'springboard':
        return 11035
    elif data['school'] == 'practicum-coding-bootcamps':
        return 11225
    else:
        return 'no info'

comments["school_id"] =comments.apply(add_schoolid, axis=1)

C:\Users\inesa\AppData\Local\Temp\ipykernel_9984\2268573733.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comments["school_id"] =comments.apply(add_schoolid, axis=1)

## Send tables to Data Lake in mySQL

In [203]:
# 6) Sending tables to com_analysis DB with alchemi

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=getpass(),
                               db="comp_analysis"))

comments.to_sql('comments', con = engine, if_exists = 'replace', chunksize = 1000, index= False)
courses.to_sql('courses', con = engine, if_exists = 'replace', chunksize = 1000, index= False)
schools.to_sql('schools', con = engine, if_exists = 'replace', chunksize = 1000, index= False)

4

In [204]:
engine.dispose()